
@import url('https://fonts.googleapis.com/css?family=Lobster');

@import url('https://fonts.googleapis.com/css?family=Sacramento');

@import url('https://fonts.googleapis.com/css?family=Spectral');


* {margin:0; padding: 0;}
    html, body {height:100%;
     
    }




nav{
     background-color:#2b3151;
  }

nav .nav-brand .logo{
  width:20% !important;
}
.menu{
  background-color:#2b3151;
  height: 50px;

}


.navbar-nav li a{
    color: #fff;
    font-weight: 500;
    font-family: 'Spectral', serif;
}

.navbar-nav li a:hover{
  background-color: #303656;
}
.navbar-nav .login{
    float: right;
    padding: 0 30px;

}
.navbar-nav .login .user{
  color:#2b3151;
  position: absolute;

}
.navbar-nav .login .user i{
    background: #fff;
    padding: 8px 10px;
    color: #2b3151;
    border-radius: 100px;
}


.navbar-nav .login .user p{
  color: #fff;
  font-size: 10px;
}
nav .navbar-toggler{
  background-color: none;

}

nav .navbar-toggler .navbar-toggler-icon{
      background: #fff;
    display: block;
    margin-bottom: 5px;
    height: 4px;
    border-radius: 5px;
}



.main .historico{
  height:500px;

}

.main .historico p{
  font-size: 50px;
}


.main table tbody tr{
  cursor:pointer;
}

.modal-header{
  color:#fff;

}
.modal-header button{
  color:#fff;

}
.modal-header span{
  color:#fff;
}
.modal-footer button{
  background:#fff;
  color:#2b3151;
}
.modal-header ,.modal-footer{
  background:#2b3151;
}





.footer p{
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    color: #292929;
}
.footer span{
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer .last-footer{
  height: 50px;
  background-color:#2b3151;
  color:#fff;
  font-weight: 100;
  box-shadow:inset 10px 4px 18px #292929;
}

footer   .linkedin {
    background: url(../images/linkedin.png) 0 0 no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
    /*position: absolute;*//*
    margin-top: 25px;
    margin-bottom: 25px;*/
    background-size: 100%;
    cursor:pointer;
  
  }

  footer   .skype {
    background: url(../images/logo.png) 0 0 no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
    /*position: absolute;*//*
    margin-top: 25px;
    margin-bottom: 25px;*/
    background-size: 100%;
    cursor:pointer;

  }

  footer   .cat {
    background: url(../images/cat.png) 0 0 no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
  /*  position: absolute;
    margin-top: 25px;
    margin-bottom: 25px;*/
    background-size: 100%;
    cursor:pointer;
 
  }



@media (max-width: 768px){
  nav .navbar{
    padding-bottom:60px;
  }
}